*build*
/install/
!simulator/FloatairSimulator/build_all.sh
!simulator/FloatairSimulator/build_all.bat
.config.old
.vscode/
.idea/
*.txt
!lfsd/**
!romfs/**
/StringPool.csv
/apps/home/home_cfg.c
/lfsd/apps/logo/logo.png
/lfsd/system/config.json
/lfsd/apps/golf/
/lfsd/apps/phone/
/lfsd/apps/speech/
/ui.res.json
/romfs/system/images/*
!/romfs/system/images/.gitkeep
download/
lfs-env/
lfsc/
simulator/test/app
simulator/test/jyt_d
lfsd/lfsd
simulator/test/simulator
simulator/test/right/app
simulator/test/right/jyt_d
simulator/test/right/libsim_intercept.so
simulator/test/right/run_simple.sh
simulator/test/right/simulator
simulator/test/right/ui_lr.py
simulator/test/right/ui.py
simulator/test/libsim_intercept.so
**/.vs/
**/*.vcxproj.user
simulator/FloatairVS/FloatairVS
simulator/FloatairVS/Debug
simulator/test/dist
simulator/test/*.spec
simulator/FloatairMac/build/
build_mac
**/.DS_Store
*.log
simulator/simulator_tool/simulator_tool_mac.spec
simulator/simulator_tool/simulator_tool.spec
simulator/simulator_tool/simulator_tool_linux.spec
simulator/simulator_tool/simulator_tool_win.spec
!simulator/FloatairSimulator/mingw/SDL2/
!simulator/FloatairSimulator/mingw/SDL2/**/
!simulator/FloatairSimulator/mingw/SDL2/**
AGENTS.md
.codex
.omx/
*.pyc
.os_sdk_cache/
.cache/
